name: gif_collection
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ">=3.4.3 <4.0.0"

# Dependencies specify other packages that your package needs in order to work.

# Flavor
# fvm flutter pub run flutter_flavorizr
# flutter run --flavor <flavorName> -t lib/main_<flavorName>.dart
# flutter run --flavor gif_collection -t lib/main_gif_collection.dart
# flutter run --flavor gif_collection_18 -t lib/main_gif_collection_18.dart
# flutter pub run flutter_flavorizr -p assets:download,assets:extract
# fvm flutter build apk --flavor gif_collection -t lib/main_gif_collection.dart
dependencies:
  flutter:
    sdk: flutter

  # State Management
  get: ^4.6.6

  # Dependency injection
  get_it: ^7.7.0
  injectable: ^2.4.2
  injectable_generator: ^2.6.1

  # Utilities
  json_annotation: ^4.9.0
  cached_network_image: ^3.3.1
  sqflite: ^2.3.3+1
  shared_preferences: ^2.2.3
  intl: ^0.19.0
  supabase_flutter: ^2.5.11
  flutter_dotenv: ^5.1.0
  flutter_flavorizr: ^2.2.3
  uuid: ^4.4.2

  # Networking
  dio: ^5.5.0+1
  retrofit: ^4.1.0
  retrofit_generator: ^8.1.2

  # Supports UI
  cupertino_icons: ^1.0.6
  smooth_page_indicator: ^1.2.0+3
  google_fonts: ^6.2.1
  flutter_spinkit: ^5.2.1
  shimmer: ^3.0.0
  awesome_dialog: ^3.2.1
  google_sign_in: ^6.2.1
  sign_in_button: ^3.2.0
  flutter_easyloading: ^3.0.5

  # Firebase
  cloud_firestore: ^5.2.0
  firebase_core: ^3.3.0
  firebase_auth: ^5.1.3
  nanoid: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  build_runner: ^2.4.11
  json_serializable: ^6.8.0

flavorizr:
  flavors:
    gif_collection:
      app:
        name: "Gif Pixel Collection"
      android:
        applicationId: "com.trankhoa2610.gifcollection"
        firebase:
          config: "./lib/firebases_resource/gif/google-services.json"
      # ios:
      #   bundleId: "com.trankhoa2610.gifcollection"
      #   firebase:
      #     config: "./lib/firebases_resource/gif/GoogleService-Info.plist"
    gif_collection_18:
      app:
        name: "Gif Pixel Collection 18"
      android:
        applicationId: "com.trankhoa2610.gifcollection18"
        firebase:
          config: "./lib/firebases_resource/gif_18/google-services.json"
      # ios:
      #   bundleId: "com.trankhoa2610.gifcollection18"
      #   firebase:
      #     config: "./lib/firebases_resource/gif_18/GoogleService-Info.plist"

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/images/icons/
    - .env

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
